language: python

python:
  - 3.6

install:
  - echo 'Install dependencies' && make dependencies

before_script:
  - echo 'Run PyLint' && make lint

script:
  - echo 'Run coverage and tests' && make cov-tests

after_success:
  - echo 'Run coveralls' && coveralls
